<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= @user_text.count_of_words %> </h2>

<h2>Vowels: <%= @user_text.count_of_vowels %>  </h2>

<h2>Consonants: <%= @user_text.count_of_consonants %> </h2>
<% l = @user_text.most_used_letter %>
<h2>Most Common Letter: <%= l.keys[0] %>, used <%=l[l.keys[0]] %> times</h2>
